@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('http://fonts.cdnfonts.com/css/alliance-no1');

* {
  font-family: 'Alliance No.2', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}